@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    background: #2a2b32;
}

a{
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: #e91e63;
}

h1.header{
    font-family: 'Monoton', cursive;
    color: #fff;
    font-size: 6.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    color: #e91e63;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 15px;
}

canvas{
    height: 100vh;
    z-index: -100000;
    position: fixed;
    top: 0px;
}

.mb{
    margin-bottom: 3rem;
}

/* .logo{
    font-family: 'Monoton', cursive;
    color: #fff;
    font-size: 6.5rem;
}*/

.links-list ul li{
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.links-list h1{
    color: #fff;
    font-size: 2.5rem;
}

.links-list ul li span{
    background-color: #e91e63;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 3px 6px;
    font-weight: bold;
    margin-left: 0.5rem;
    color:#fff;
}

.footer{
    margin-top: 6rem;
}

.footer p{
    color: #fff;
    font-size: 1.3rem;
}

    .wrapper {
        max-width: 800px;
        margin-left:0px;
        display: flex;
        gap: 30px;
        align-items: flex-start;
    }
    .photo-box {
        flex: 0 0 160px;
    }
    .photo-box img {
        width: 160px;
        height: 200px;
        object-fit: cover;
        border: 5px solid #ccc;
        display: block;
    }
    .info {
        flex: 1;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin-left:-37px;
    }

    table td {
        border-bottom: 2.4px solid #444;
        vertical-align: top;
        font-size: 1.5rem;
        color: #fff;
    }

    table td.label {
        width: 35%;
        font-weight: bold;
        color: #e91e63;
    }
